name: Event Driven Jobs

on:
  workflow_dispatch:

jobs:
  run-event-scripts:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        script:
          - "code/event_driven/BitcoinHalving.py"
          - "code/event_driven/[BTC] UTXO Age Distribution.py"
          - "code/event_driven/data_upload_utils.py"
          - "code/event_driven/fetch_armed_conflicts.py"
          - "code/event_driven/fetch_climate_change_effects.py"
          - "code/event_driven/fetch_cybersecurity_threats.py"
          - "code/event_driven/fetch_elections_leadership_changes.py"
          - "code/event_driven/fetch_environmental_regulations.py"
          - "code/event_driven/fetch_fiscal_stimulus_measures.py"
          - "code/event_driven/fetch_healthcare_policy_changes.py"
          - "code/event_driven/fetch_infrastructure_spending.py"
          - "code/event_driven/fetch_international_sanctions.py"
          - "code/event_driven/fetch_ipos.py"
          - "code/event_driven/fetch_monetary_policy_decisions.py"
          - "code/event_driven/fetch_natural_disasters.py"
          - "code/event_driven/fetch_pandemics_health_crises.py"
          - "code/event_driven/fetch_political_instability.py"
          - "code/event_driven/fetch_refugee_crises.py"
          - "code/event_driven/fetch_regulatory_reforms.py"
          - "code/event_driven/fetch_supply_chain_disruptions.py"
          - "code/event_driven/fetch_tariff_rates.py"
          - "code/event_driven/fetch_tax_policy_changes.py"
          - "code/event_driven/fetch_terrorism_incidents.py"
          - "code/event_driven/fetch_trade_agreements.py"
          - "code/event_driven/fetch_trade_sanctions.py"
          - "code/event_driven/GoogleTrending.py"
          - "code/event_driven/Etherscan Token Events.py"
    env:
      AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run ${{ matrix.script }}
        run: python "${{ matrix.script }}"
