name: Run All Geopolitical and Environmental Events Scripts in Parallel

on:
  schedule:
    - cron: "0 0 * * *"  # Every hour
  workflow_dispatch:

env:
  AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  run-armed-conflicts:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Armed Conflicts Script
        run: python "code/event_driven/fetch_armed_conflicts.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_armed_conflicts.py"
        continue-on-error: true

  run-political-instability:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Political Instability Script
        run: python "code/event_driven/fetch_political_instability.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_political_instability.py"
        continue-on-error: true

  run-elections-leadership-changes:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Elections and Leadership Changes Script
        run: python "code/event_driven/fetch_elections_leadership_changes.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_elections_leadership_changes.py"
        continue-on-error: true

  run-natural-disasters:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Natural Disasters Script
        run: python "code/event_driven/fetch_natural_disasters.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_natural_disasters.py"
        continue-on-error: true

  run-pandemics-health-crises:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Pandemics and Health Crises Script
        run: python "code/event_driven/fetch_pandemics_health_crises.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_pandemics_health_crises.py"
        continue-on-error: true

  run-climate-change-effects:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Climate Change Effects Script
        run: python "code/event_driven/fetch_climate_change_effects.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_climate_change_effects.py"
        continue-on-error: true

  run-cybersecurity-threats:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Cybersecurity Threats Script
        run: python "code/event_driven/fetch_cybersecurity_threats.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_cybersecurity_threats.py"
        continue-on-error: true

  run-terrorism-incidents:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Terrorism Incidents Script
        run: python "code/event_driven/fetch_terrorism_incidents.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_terrorism_incidents.py"
        continue-on-error: true

  run-refugee-crises:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run Refugee Crises Script
        run: python "code/event_driven/fetch_refugee_crises.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_refugee_crises.py"
        continue-on-error: true

  run-international-sanctions:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pandas openpyxl requests beautifulsoup4 pandas-datareader
      - name: Run International Sanctions Script
        run: python "code/event_driven/fetch_international_sanctions.py"
        continue-on-error: true
      - name: Retry on Failure
        if: failure()
        run: python "code/event_driven/fetch_international_sanctions.py"
        continue-on-error: true
