name: Intraday Jobs

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  run-intraday-scripts:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
      COINGECKO_API_KEY: ${{ secrets.COINGECKO_API_KEY }}
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        script:
          - "code/intraday/bitcoin_close_15min.py"
          - "code/intraday/bitcoin_close_1h.py"
          - "code/intraday/bitcoin_close_1min.py"
          - "code/intraday/bitcoin_close_30min.py"
          - "code/intraday/bitcoin_close_5min.py"
          - "code/intraday/btc_5m_history.py"
          - "code/intraday/data_upload_utils.py"
          - "code/intraday/coingecko_crypto_price_1m.py"
          - "code/intraday/Binance Liquidations.py"
          - "code/intraday/Binance Open Interest.py"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run ${{ matrix.script }}
        run: python "${{ matrix.script }}"

