name: Monthly Jobs

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  run-monthly-scripts:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        script:
          - "code/monthly/Building Permits.py"
          - "code/monthly/Business Confidence Index.py"
          - "code/monthly/Capacity Utilization.py"
          - "code/monthly/Consumer Confidence Index.py"
          - "code/monthly/Housing Starts.py"
          - "code/monthly/Industrial Production.py"
          - "code/monthly/Inflation Rate (CPI).py"
          - "code/monthly/InflationData.py"
          - "code/monthly/LaborForceParticipation.py"
          - "code/monthly/Money Supply (M2).py"
          - "code/monthly/Purchasing Managers' Index (PMI).py"
          - "code/monthly/Retail Sales.py"
          - "code/monthly/Trade Balance.py"
          - "code/monthly/Unemployment Rate.py"
          - "code/monthly/bitcoin_close_1mo.py"
          - "code/monthly/data_upload_utils.py"
          - "code/monthly/5-Year TIPS Yield.py"
          - "code/monthly/10-Year TIPS Yield.py"
          - "code/monthly/20-Year TIPS Yield.py"
          - "code/monthly/30-Year TIPS Yield.py"
          - "code/monthly/fetch_agricultural_prices.py"
          - "code/monthly/fetch_coal_prices.py"
          - "code/monthly/fetch_commodity_price_index.py"
          - "code/monthly/fetch_credit_card_delinquency_rates.py"
          - "code/monthly/fetch_dividend_yields.py"
          - "code/monthly/fetch_electricity_prices.py"
          - "code/monthly/fetch_employment_population_ratio.py"
          - "code/monthly/fetch_export_import_prices.py"
          - "code/monthly/fetch_global_trade_volume.py"
          - "code/monthly/fetch_job_vacancy_rates.py"
          - "code/monthly/fetch_labor_force_participation.py"
          - "code/monthly/fetch_margin_debt.py"
          - "code/monthly/fetch_metal_prices.py"
          - "code/monthly/fetch_wage_growth_rates.py"
          - "code/monthly/fetch_youth_unemployment_rate.py"
          - "code/monthly/retailConsumption.py"
          - "code/monthly/run_all_scripts.py"
    env:
      AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run ${{ matrix.script }}
        run: python "${{ matrix.script }}"
