name: Run All Scripts Sequentially

on:
  schedule:
    - cron: "0 0 * * *"  # Every hour
  workflow_dispatch:

env:
  AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
  DUNE_API_KEY: ${{ secrets.DUNE_API_KEY }}
jobs:
  fetch-btc-data:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run 1m script
        run: python code/intraday/bitcoin_close_1min.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 5m script
        run: python code/intraday/bitcoin_close_5min.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 15m script
        run: python code/intraday/bitcoin_close_15min.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 30m script
        run: python code/intraday/bitcoin_close_30min.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 1h script
        run: python code/intraday/bitcoin_close_1h.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 1wk script
        run: python code/weekly/bitcoin_close_1wk.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Run 1mo script
        run: python code/monthly/bitcoin_close_1mo.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
